body {
    margin: auto;
    padding-left: 30px;
    background: lightblue;
    font-family: sans-serif;
  
  }
  input, select {
    padding: 10px;
    width: 150px;
  }
    .error{
      color: red;
    }
  