body {
    margin: auto;
    padding-left: 30px;
    background: lightblue;
    font-family: sans-serif;
  
  }
  input, select {
    padding: 5px;
    width: 150px;
    display: block;
    margin: 5px;
  }
    .error{
      color: red;
    }

table{
  width: 100%;
  background-color: white;
  border-collapse: collapse;
}
td{
  border: 1px solid darkslategray;
}
  